html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    }

.top-container{
    padding-top: 5%;
    }

.general-container{
    background: url('images/background_1.jpg');
    color: white;
    height: 100%;
    }

.general-container form{
    margin-top: 20px;
}

.btn-white{
    background-color: #318cef;
    border: none;
}

.title{
    text-align: center;
}

.img-transform{
    text-align: center;
}


